html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.content {
    padding: 20px;
}

/* button-default */
.btn-default {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #5588c3;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #5fa0e5;
}
.btn-default:hover {
    border: 1px solid #61abf2;
    color: #61abf2;
}
.btn-default:active {
    border: 1px solid #61abf2;
    box-shadow: inset 0 0 2px rgba(97, 171, 242, 0.8);
}

/* button-primary */
.btn-primary {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #5fa0e5;
    border-radius: 3px;
    border: 1px solid #5fa0e5;
}
.btn-primary:hover {
    background-color: #61abf2;
    border: 1px solid #61abf2;
}
.btn-primary:active {
    border: 1px solid #61a3ea;
    box-shadow: inset 0 0 2px rgba(66, 118, 166, 0.8);
}

/* success-primary */
.btn-success {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #61bb61;
    border-radius: 3px;
    border: 1px solid #61bb61;
}
.btn-success:hover {
    background-color: #74e572;
    border: 1px solid #74e572;
}
.btn-success:active {
    border: 1px solid #74e572;
    box-shadow: inset 0 0 2px rgba(65, 141, 65, 0.8);
}

/* button-basic */
.btn-basic {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color:#696969;
    border-radius: 3px;
}
.btn-basic:focus {
    border: 2px solid #5fa0e5;
    transform: translateX(1px);
}
.btn-basic:hover {
    background-color: #808080;
    border: 1px solid #A52A2A;
    color: #fff;
}
.btn-basic:active {
    border: 1px solid #61abf2;
    box-shadow: inset 0 0 2px rgba(97, 171, 242, 0.8);
}

/* button-info */
.btn-info {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #FF8C00;
    border-radius: 3px;
}
.btn-info:focus {
    border: 2px solid #5fa0e5;
    transform: translateX(1px);
}
.btn-info:hover {
    background-color: #FFA500;
    border: 1px solid #DB7093;
    color: #fff;
}
.btn-info:active {
    border: 1px solid #61abf2;
    box-shadow: inset 0 0 2px rgba(97, 171, 242, 0.8);
}

/* button-warning */
.btn-warning {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #A52A2A;
    border-radius: 3px;
}
.btn-warning:focus {
    border: 2px solid #5fa0e5;
    transform: translateX(1px);
}
.btn-warning:hover {
    background-color: #FF6347;
    border: 1px solid #DB7093;
    color: #fff;
}
.btn-warning:active {
    border: 1px solid #61abf2;
    box-shadow: inset 0 0 2px rgba(97, 171, 242, 0.8);
}

/* button-danger */
.btn-danger {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color:  #FF0000;
    border-radius: 3px;
}
.btn-danger:focus {
    border: 2px solid #5fa0e5;
    transform: translateX(1px);
}
.btn-danger:hover {
    background-color: #FF4500;
    border: 1px solid #DB7093;
    color: #fff;
}
.btn-danger:active {
    border: 1px solid #61abf2;
    box-shadow: inset 0 0 2px rgba(97, 171, 242, 0.8);
}

/* button-link */
.btn-link {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #8A2BE2;
    border-radius: 3px;
}
.btn-link:focus {
    border: 2px solid #5fa0e5;
    transform: translateX(1px);
}
.btn-link:hover {
    background-color: #BA55D3;
    border: 1px solid #DB7093;
    color: #fff;
}
.btn-link:active {
    border: 1px solid #61abf2;
    box-shadow: inset 0 0 2px rgba(97, 171, 242, 0.8);
}



